.links {
	background-color: black;
	border-bottom: 2px rgb(52, 51, 51) solid;
	.links__container {
		max-width: 1500px;
		height: fit-content;
		margin-inline: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		h2 {
			flex: 1 1 100%;
			color: white;
			font-family: "Antonio", sans-serif;
			font-size: clamp(3rem, 5vw, 5rem);
			text-transform: uppercase;
			text-align: center;
			padding: clamp(2rem, 5vw, 5rem);
			line-height: 115%;
			mark {
				background-color: transparent;
				color: rgb(147, 169, 255);
			}
			@media (min-width: 900px) {
				flex: 20%;
				text-align: start;
			}
		}
		.links__container__links {
			flex: 1 1 60%;
			display: flex;
			flex-wrap: wrap;
			gap: clamp(1rem, 2vw, 2rem);
			.links__container__links-img {
				flex: 1 1 31%;
				width: 100%;
				height: clamp(12rem, 25vw, 25rem);
				display: block;
				img{
					height: inherit;
					width: inherit;
					object-fit: cover;
				}
			}
		}
	}
}