.facts {
	border-bottom: 2px rgb(52, 51, 51) solid;
	.facts__containre {
		max-width: 1500px;
		height: fit-content;
		margin-inline: auto;
		display: flex;
		flex-wrap: wrap;
		padding: clamp(2rem, 5vw, 5rem);
		gap: clamp(1.5rem, 3vw, 3rem);
		h2 {
			flex: 1 1 100%;
			font-size: clamp(3rem, 5vw, 5rem);
			font-family: "Antonio", sans-serif;
			text-transform: uppercase;
			color: white;
			text-align: center;
		}
		.facts__containre__boxes {
			flex: 1 1 100%;
			border: 1px solid rgb(147, 169, 255);
			display: flex;
			flex-wrap: wrap;
			padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 3vw, 3rem);
			gap: 1rem;
			h3 {
				flex: 1 1 100%;
				font-family: "Antonio", sans-serif;
				font-size: clamp(1.5rem, 3.5vw, 3.5rem);
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				color: white;
			}
			p {
				flex: 0 1 70%;
				margin-inline: auto;
				margin-block: 0;
				font-size: clamp(0.8rem, 2vw, 2rem);
				font-weight: 600;
				font-family: "Work Sans", sans-serif;
				text-align: center;
				color: rgb(147, 169, 255);
			}
			@media (min-width: 900px) {
				gap: clamp(1rem, 10vw, 10rem);
				h3 {
					flex: 1 1 22%;
					text-align: start;
				}
				p {
					flex: 1 1 55%;
					text-align: start;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
