.background {
	background-color: black;
	color: white;
	.background__container {
		max-width: 1500px;
		height: fit-content;
		margin-inline: auto;
		display: flex;
		flex-wrap: wrap;
		padding: clamp(2rem, 5vw, 5rem);
		gap: clamp(1.5rem, 3vw, 3rem);
		h2 {
			flex: 1 1 100%;
			font-size: clamp(3rem, 5vw, 5rem);
			font-family: "Antonio", sans-serif;
			text-transform: uppercase;
			text-align: center;
		}
		.background__container__blocks {
			flex: 0 1 65%;
			border: 1px solid rgb(147, 169, 255);
			padding-block: clamp(2rem, 3vw, 3rem);
			margin-inline: auto;
			object-fit: cover;
			h5 {
				font-family: "Work Sans", sans-serif;
				max-width: 65%;
				font-size: clamp(.8rem, 2vw, 1.6rem);
				text-align: center;
				text-transform: uppercase;
				margin-inline: auto;
				color: rgb(147, 169, 255);
				margin-block-end: 1em;
			}
			h3 {
				font-family: "Antonio", sans-serif;
				font-size: clamp(1.5rem, 2.7vw, 2.7rem);
				max-width: 70%;
				text-transform: uppercase;
				text-align: center;
				margin-inline: auto;
				margin-block-start: .5em;
			}
		}
	}
	@media (min-width: 900px) {
		.background__container {
			.background__container__blocks {
				flex: 1 1 25%;
			}
		}
	}
}
